{% extends '_test-base.html' %}

{% load blockinclude %}

{% block content %}
    <p>
        The order in which the <code>slot</code> blocks are defined has no impact on the values that are provided to the included template.
    </p>

    <div>
        {% blockinclude 'includes/the-slotted-box.html' %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            {% slot "footer" %}
                Minima modi non quia.
            {% endslot %}

            {% slot "header" %}
                Phasellus nulla justo, dictum eu diam non, congue consequat ipsum.
            {% endslot %}
        {% endblockinclude %}
    </div>
{% endblock %}
