{% extends '_test-base.html' %}

{% load blockinclude %}

{% block content %}
    <h1>Block include renders output from parent</h1>

    <p>
        With the new <code>blockinclude</code> tag, we can pass a block of rendered content directly to the included template.
        The block is rendered in the context of the parent and then passed to the included template.
        The rendered markup is available as the <code>content</code> variable in the included template.
    </p>
    <div>
        {% blockinclude 'includes/the-box.html' %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        {% endblockinclude %}
    </div>
{% endblock %}
