{% extends '_test-base.html' %}

{% load blockinclude %}

{% block content %}
    <p>
        An included template may take more than one variable to add all the necessary information.
        We are still able to provide additional context variables after the <code>with</code> keyword, just as we are with the default <code>include</code> block.
    </p>

    <div>
        {% blockinclude 'includes/the-slotted-box.html' with header="Adipisci atque aut incidunt" %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        {% endblockinclude %}
    </div>
{% endblock %}
