{% extends '_test-base.html' %}

{% load blockinclude %}

{% block content %}
    <p>
        When more than one variable need should be filled with markup, <code>blockinclude</code> runs into the same issue as the default <code>include</code> tag.
        Single markup lines can be provided as a keyword argument after the `with` keyword in the tag.
        But, multi-line markup or even template logic would not work.
    </p>

    <p>
        This is where the <code>slot</code> tag comes it.
        Inside of <code>blockinclude</code>, you wrap a block of markup or template logic in a <code>slot</code>/<code>endslot</code> block.
        The template logic is executed in the parent and the resulting markup is passed to the included template with the defined name of the slot.
    </p>

    <div>
        {% blockinclude 'includes/the-slotted-box.html' %}
            {% slot header %}
                <b>Phasellus</b> nulla justo, dictum eu diam non, congue consequat ipsum.
            {% endslot %}

            Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            {% slot footer %}
                <ul>
                    {% for item in items %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endslot %}
        {% endblockinclude %}
    </div>
{% endblock %}
