{% extends '_test-base.html' %}

{% load blockinclude %}

{% block content %}
    <p>
        When there is a keyword argument on the <code>blockinclude</code> and a <code>slot</code> with the same name, then the <code>slot</code> takes precedence.
    </p>

    <div>
        {% blockinclude 'includes/the-slotted-box.html' with header="Adipisci atque aut incidunt" %}
            {% slot header %}
                Phasellus nulla justo, dictum eu diam non, congue consequat ipsum.
            {% endslot %}

            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        {% endblockinclude %}
    </div>
{% endblock %}
